.App {
 display: flex;
 height: 100vh;
 width: 100vw;
 background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
 background-position: center center;
 background-size: cover;
 background-repeat: no-repeat;
}

.main-header {
  height: 72px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
span {
  color: white;
}

span:hover {
  color: #fed136;
}

.start {
  margin-left: 15%;
  height: 32px;

}
.navbar {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 12%;
}

.desktop-menu {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dropdown {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 988px){
  .start {
    margin-left: 10%;
    height: 24px;
  }
  .desktop-menu {
    display: none;
  }
  header {
    background-color: #212529;
  }
  .navbar{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 40%;
  }

  .dropdown {
    display: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    height: 36px;
    width: 80px;
    background-color: #fed136;
    border-radius: 0.25rem;
  }
  .mobile-menu {
    display: initial;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 72px;
    left: 0;
    padding-left: 10%;
    height: 190px;
    width: 100%;
    justify-content: space-evenly;
  }
}

@media (max-width: 764px){
  .start {
    margin-left: 10%;
    height: 24px;
  }
  .desktop-menu {
    display: none;
  }
  header {
    background-color: #212529;
  }
  .navbar{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 40%;
  }

  .dropdown {
    display: initial;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: white;
    height: 36px;
    width: 80px;
    background-color: #fed136;
    border-radius: 0.25rem;
  }
  .mobile-menu {
    display: initial;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 72px;
    left: 0;
    padding-left: 10%;
    height: 190px;
    width: 100%;
    justify-content: space-evenly;
  }
}